name: Codecov

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:

  codecov:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      #     - name: Update env var
      #       run: go env -w GO111MODULE=auto

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install dependencies
        run: go mod download

      - name: Generate coverage.txt
        run: go test -v ./internal/client/client_test.go -race -coverprofile=coverage.txt -covermode=atomic

      - name: Upload coverage report
        uses: codecov/codecov-action@v1.5.2
        with:
          file: ./coverage.txt
          flags: unittests
          fail_ci_if_error: true
          verbose: true
